body, html {
    color: #333;
}
a, a:visited {
    color: #B31B1B;
}

div#branding {
    background-image: url("../img/branding.png");
    background-position: 7px 4px;
    background-repeat: no-repeat;
}

div#nav-main {
    background: #B31B1B;
}
div#nav-main p {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 0px;
}
div#nav-main p#back a, div#nav-main p#home a {
    color: white;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 0px;
}
div#nav-main p#back {
    border-image: url("../img/back_button.png") 0 8 0 14 stretch stretch;
    -webkit-border-image: url("../img/back_button.png") 0 8 0 14 stretch stretch;
    -moz-border-image: url("../img/back_button.png") 0 8 0 14 stretch stretch;
    border-width: 0 8px 0 14px;
}
div#nav-main p#home {
    border-image: url("../img/button.png") 0 5 0 5 stretch stretch;
    -webkit-border-image: url("../img/button.png") 0 5 0 5 stretch stretch;
    -moz-border-image: url("../img/button.png") 0 5 0 5 stretch stretch;
    border-width: 0 5px 0 5px;
}

div#content {
    /*border-bottom: 2px dashed #ccc;*/
}

ul#nodes li {
    background: #ddd;
    border-radius: .6em;
}
ul#nodes li a {
    color: #333;
}
ul#nodes li:hover {
    background-color: #333;
}
ul#nodes li a:hover {
    color: #ccc;
}

li.event h3 {
    background-color: #333;
    color: white;
}

div#content div.speaker h3 {
    background-color: #ccc;
    opacity: .8;
}

div#site-info p a {
    color: #B31B1B;
}
