body, html {}

div#container {
    margin: 0 auto;
    width: 100%;
}

div#branding {
    height: 40px;
}
div#branding h1, div#branding p {
    display: none;
}

div#nav-main {
    margin: 0px;
    padding: .6em 1em;
    position: relative;
}
div#nav-main p#back {
    position: absolute;
    top: 8px;
    left: 4px;
    width: 33px;
    height: 29px;
    padding-top: 1px;
}
div#nav-main p#home {
    position: absolute;
    top: 8px;
    right: 4px;
    width: 36px;
    height: 29px;
    padding-top: 1px;
}

div#content {
    padding-bottom: .8em;
}
div#content p {
    margin: .4em 12px 0 12px;
}

ul#nodes li {
    margin: .4em .4em 0 .4em;
}
ul#nodes li a {
    display: block;
    padding: .7em 1.2em .7em 1.2em;
}

li.event {}
li.event h3 {
    margin: .6em 0 .2em 0;
    padding: .2em 12px;
}

div#content {
    min-height: 292px;
}
div#content li.event p {
    margin-top: 6px;
}
div#content li.event p.when, div#content li.event p.where {
    margin-top: 0;
}

li.sponsor {
    margin: 12px 12px 0 12px;
    float: left;
}
li.sponsor div {
    display: table-cell;
    width: 296px;
    height: 296px;
    text-align: center;
    vertical-align: middle;
}
li.sponsor img {
    vertical-align: middle;
}

li.guest {
    margin: 0 12px;
}
li.guest h3 {
    margin: .6em 0 .2em 0;
}
li.guest p {
    margin-top: 0;
    text-align: left;
}

div#content div.speaker {
    margin: 12px;
    position: relative;
}
div#content div.speaker img {
    width: 296px;
    height: 296px;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
}
div#content div.speaker h3 {
    position: absolute;
    width: 296px;
    top: 240px;
    left: 0;
    padding: .6em 0;
}
div#content div.speaker p {
    margin-left: 0;
    margin-right: 0;
}

div#site-info {
    margin: .8em auto;
    width: 84px;
    text-align: center;
    position: relative;
    clear: both;
}
div#site-info ul li {
    float: left;
    margin-right: 12px;
}
div#site-info ul li+li {
    margin-right: 0;
}
div#site-info p {
    position: absolute;
    top: 40px;
    left: -120px;
    width: 320px;
    padding-bottom: .6em;
}
