body, html {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.1em;
}
p {
    text-align: justify;
}

div#nav-main p {
    text-align: center;
    font-weight: bold;
}
div#nav-main p#back a, div#nav-main p#home a {
    text-decoration: none;
    font-size: 13px;
    text-transform: capitalize;
    font-family: arial, sans-serif;
    font-weight: bold;
}

div#content p {
    font-size: .85em;
}

ul#nodes li a {
    text-decoration: none;
}

li.event {}
li.event h3 {
    font-weight: bold;
    font-variant: small-caps;
}
li.event p.when, li.event p.where {
    font-size: .8em;
    font-style: italic;
}

li.guest {}
li.guest h3 {
    font-variant: small-caps;
    font-weight: bold;
}
li.guest p {
    font-size: .8em;
    font-style: italic;
}

div#content div.speaker h3 {
    text-align: center;
    font-weight: bold;
}

div#site-info p {
    font-size: .85em;
    text-align: center;
}
div#site-info a:hover {
    text-decoration: none;
}
