/**
 * Standard CSS for HEC Mobile Website
 * @author Parker Moore, http://www.parkermoore.de/
 */
 
//@import "compass/reset";

@import "HEC-jQueryMobile";

// Customizations

.ui-li-divider {
	background-color: darken(#d8cfc7, 50%);
}

.ui-footer .ui-link {
	text-shadow: none;
}

#speaker_page {
	text-align: center;
	p#bio, p.bio {
		text-align: left;
		text-indent: 40px;
	}
}

#sponsor_page {
	text-align: center;
	img#logo {
		//float: left;
	}	
	p.details {
		text-align: left;
		text-indent: 40px;
		//float: left;
	}
	
}