/**
 * Standard CSS for HEC Mobile Website
 * @author Parker Moore, http://www.parkermoore.de/
 */
 
//@import "compass/reset";

@import "compass/css3/images";

@import "HEC-jQueryMobile";

@import "pages/menus";

// Customizations

.ui-li .ui-li-divider, .ui-bar-c {
	border: 1px solid #456f9a;
	background: #5e87b0;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #254f7a;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#81a8ce),to(#5e87b0));
	background-image: -webkit-linear-gradient(#81a8ce,#5e87b0);
	background-image: -moz-linear-gradient(#81a8ce,#5e87b0);
	background-image: -ms-linear-gradient(#81a8ce,#5e87b0);
	background-image: -o-linear-gradient(#81a8ce,#5e87b0);
	background-image: linear-gradient(#81a8ce,#5e87b0);
	border-image: initial;
	//$base-colour-for-dividers: #a1988b;
	//@include background(linear-gradient(top, lighten($base-colour-for-dividers, 40%), lighten($base-colour-for-dividers, 10%)));
	//background-color: darken(#d8cfc7, 50%);
}

.ui-input-search, input.ui-input-text, textarea.ui-input-text {
	background: white;
}

.ui-footer .ui-link {
	text-shadow: none;
}

.checkbox {
	margin-top: 10px;
}

#speaker_page, #profile {
	text-align: center;
	p#bio, p.bio {
		text-align: left;
		text-indent: 40px;
	}
}

#sponsor_page {
	text-align: center;
	img#logo {
		//float: left;
	}	
	p.details {
		text-align: left;
		text-indent: 40px;
		//float: left;
	}
	
}

dl {
	text-align: center;
	dt {
		font-size: 1.3em;
		padding: 10px;
		margin: 35px 0 15px 0;
		background-color: darken(#f0eee4, 2%);
		font-weight: normal;
	}
	dd {
		margin-bottom: 10px;
		font-size: 1.2em;
		margin-left: 0;
	}
}

.error-message {
	padding: 10px;
	border: darken(#f00, 10%) 2px solid;
	background-color: lighten(#f00, 10%);
	color: #f6f6f6;
	text-shadow: none;
}

.message {
	padding: 10px;
	border: darken(#fdd749, 10%) 2px solid;
	background-color: lighten(#fdd749, 10%);
	color: #716f73;
	text-shadow: none;
}

.details {
	color: #a1988b;
	padding: 5px 0px;
}

@mixin button-up($base-color){
	text-decoration: none;
	border: 1px solid darken($base-color, 10%);
	background: $base-color;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	$to: $base-color;
	$from: lighten($base-color, 10%);
	background-image: -webkit-gradient(linear,left top,left bottom,from($from),to($to));
	background-image: -webkit-linear-gradient($from,$to);
	background-image: -moz-linear-gradient($from,$to);
	background-image: -ms-linear-gradient($from,$to);
	background-image: -o-linear-gradient($from,$to);
	background-image: linear-gradient($from,$to);
}

@mixin button-hover($base-color){
	text-decoration: none;
	border: 1px solid darken($base-color, 20%);
	background: darken($base-color, 10%);
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	$to: lighten($base-color, 5%);
	$from: lighten($base-color, 20%);
	background-image: -webkit-gradient(linear,left top,left bottom,from($from),to($to));
	background-image: -webkit-linear-gradient($from,$to);
	background-image: -moz-linear-gradient($from,$to);
	background-image: -ms-linear-gradient($from,$to);
	background-image: -o-linear-gradient($from,$to);
	background-image: linear-gradient($from,$to);
	
}

.ui-btn-up-g {
	@include button-up(#6bb352);
}
.ui-btn-hover-g {
	@include button-hover(#6bb352);
}

.ui-btn-up-r {
	@include button-up(#c51833);
}
.ui-btn-hover-r {
	@include button-hover(#c51833);
}

#branding{
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: white;
	width: 100%;
	#logo {
		max-width: 100%;
	}
}

.form_photo {
	margin: 10px 0px;
}
.photo {
	max-width: 200px;
}

.required label.ui-input-text::before {
content: "* ";
}

.event {
	.event_photo {
		max-width: 100%;
		margin: 0 auto;
	}
}