#users[data-action="view"]{
	#user_status {
		margin-top: 20px;
	}
	.user_check_in {
		span.event_name {
			display: inline-block;
			font-weight: bold;
		}
		span.datetime {
			display: inline-block;
			font-style: italic;
			color: #ccc;
			padding: 0px 6px;
			font-size: 16px;
		}
	}
}
